run = "npm start"
entrypoint = "server.js"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-22_11"

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[packager]
language = "nodejs"
[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
ignorePorts = false 